:root {
    margin: 0px;
    padding: 0px;
    --terminal-color: #66ff66;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ul {
    padding-bottom: 1em;
}
li {
    /* list-style: none; */
    margin-top: 0.5em;
}

.icons {
    padding: 1em;
    display: flex;
    justify-content: space-around;
}
a svg {
    width: 3em;
}

body {
    background-color: grey;
    overflow-y: scroll;
}
.page {
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    margin-top: 1vh;
    background: white;
}
main {
    font-family: "VT323", monospace;
    font-size: 2rem;
}

.terminal {
    padding: 0.25em;
    color: var(--terminal-color);
    background: #000000;
}

.command-line {
    min-height: 1em;
}

.hide {
    visibility: hidden;
}

.tech {
    color: white;
}

/* Microclearfix "hack" to ensure images don't overflow articles if there is not much text */
article:before,
article:after {
    content: " ";
    display: table;
}
article:after {
    clear: both;
}

article {
    margin-top: 1em;
}
article + article {
    margin-top: 2em;
}

.thing {
    clear: left;
}

.thing img {
    width: 20%;
    float: left;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

h1,
h2,
h3 {
    color: white;
}

h3 {
    display: inline;
}
.terminal section {
    display: none;
}

.terminal section.active {
    display: block;
}

a {
    color: inherit;
}

.main a {
    /* color: inherit; */
    text-decoration: none;
}

.thing a {
    /* color: inherit; */
    text-decoration: none;
}
.thing a:hover {
    background: rgb(9, 44, 11);
    text-decoration: none;
}

.main a:hover {
    color: white;
}

#back {
    display: none;
}
#back.display-back {
    display: block;
}
